* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.zero {
	position: relative;
	height: 100vh;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.the-first_wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-image: url(images/bagua.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-size 1s linear;
}
.first_child {
	position: absolute;
	width: 20%;
	height: 20%;
	top: 40%;
	left: 40%;
	background-image: url('images/yangyin2.png');
	background-size: cover;
	background-position: center;
	transition: 1s linear;
	animation: fcscale 5s linear infinite;
}
.fw_scale {
	animation: fwscale 5s 2s cubic-bezier(1,0,1,0.5) forwards;
}
.the-first {
	display: flex;
	width: 100%;
	height:100%;
	position: relative;
	border-radius: 50%;
	overflow: hidden; 
	opacity: 0;
	transform: scale(0);
	transition: opacity 1s, transform 1s linear;
	/*transform: rotate(201deg);
	transition: transform 5s linear;
	transition-delay: 2s;*/
	/*animation: rotate 0.001s infinite linear;*/	
}
.tf_frotate {
	animation: frotate 5s 2s cubic-bezier(1,0,1,0.5) forwards;
}
.tf_trotate {
	animation: trotate 5s 2s cubic-bezier(1,0,1,0.5) forwards;
}
.the-second_wrap {
	flex: 50%;
	height: 100%;
	position: relative;
	/*transform: translateX(-145%);
	transition: transform 5s linear;
	transition-delay: 2s;*/
}
/*.the-second_mask {
	position: absolute;
	top:0;
	left:100%;
	background-color: silver;
	width: 100%;
	height:50%;
	transform: translateX(-50%);
	border-radius: 100%;
}*/
.the-third_wrap {
	flex: 50%;
	height: 100%;
	position: relative;
	/*transform: translateX(145%);
	transition: transform 5s linear;
	transition-delay: 2s;*/
}
/*.the-third_mask {
	position: absolute;
	top:50%;
	left:-100%;
	width: 100%;
	height:50%;
	transform: translateX(50%);
	border-radius: 100%;
	background-color: silver;
	transition: background-color;
	transition-delay: 2s;
}*/
.the-third {
	position: absolute;
	top:0;
	left:-100%;
	width: 100%;
	height:50%;
	transform: translateX(50%);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.the-third_child {
	width:20%;
	height:20%;
	border-radius: 100%;
}
.the-second {
	position: absolute;
	top:50%;
	left:50%;
	width: 50%;
	height:50%;
	transform: translateX(-50%);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	/*margin-left: -71%;
	transition: margin 5s linear;
	transition-delay: 2s;*/
}
.the-second_child {
	width:20%;
	height:20%;
	border-radius: 100%;
}

/*.leftdoor {
	position: absolute;
	width: 50%;
	height:100%;
	top:0px;
	left:0px;
	background-image: url(images/leftdoor.png);
	background-position: right;
	background-size: cover;
	animation: leftdoor 20s 2s linear forwards;
}
.rightdoor {
	position: absolute;
	width: 50%;
	height:100%;
	top:0px;
	right:0px;
	background-image: url(images/rightdoor.png);
	background-position: left;
	background-size: cover;
	animation: rightdoor 20s 2s linear forwards;
}*/
.dragon {
	position: absolute;
	width: 50%;
	height:50%;
	top:0px;
	right:0px;
	background-position: bottom left;
	background-size: cover;
}
.opendg {
	animation: dragon 10s 2s ease-in forwards;
}
.tiger {
	position: absolute;
	width: 50%;
	height:50%;
	bottom:0px;
	left:0px;
	background-position: top right;
	background-size: cover;
}
.opentg {
	animation: tiger 10s 2s ease-in forwards;
}
.phoenix {
	position: absolute;
	width: 50%;
	height:50%;
	bottom:0px;
	right:0px;
	background-position: top left;
	background-size: cover;
	overflow: hidden;
}
.openpn {
	animation: phoenix 10s 2s ease-in forwards;
}
.turtle {
	position: absolute;
	width: 50%;
	height:50%;
	top:0px;
	left:0px;
	background-position: bottom right;
	background-size: cover;
}
.opentt {
	animation: turtle 10s 2s ease-in forwards;
}
.four_symbols {
	background-size: 80% 80%;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	transition: 0.5s linear;
}
.yangyin {
	position: absolute;
	width:14%;
	height:14%;
	border-radius: 50%;
	top:43%;
	left:43%;
}
.dragon_child {
	background-image: url('images/dragon.png');
	top:0px;
	right:0px;
}
.dragon_child .yangyin {
	background: green;
}
.tiger_child {
	background-image: url('images/tiger.png');
	bottom:0px;
	left:0px;
}
.tiger_child .yangyin {
	background: white;
}
.phoenix_child {
	background-image: url('images/phoenix.png');
	bottom:0px;
	right:0px;
}
.phoenix_child .yangyin {
	background: red;
}
.turtle_child {
	background-image: url('images/turtle.png');
	top:0px;
	left:0px;
}
.turtle_child .yangyin {
	background: black;
}
.four_symbols:hover {
	transform: scale(1.2);
	cursor: pointer;

}
@keyframes frotate {
	from {transform: rotate(0deg) scale(1);}
	to {transform: rotate(-3600deg) scale(0);}
}
@keyframes trotate {
	from {transform: rotate(0deg) scale(1);}
	to {transform: rotate(3600deg) scale(0);}
}
@keyframes fwscale {
	from {transform: translate(-50%,-50%) scale(1);}
	to {transform: translate(-50%,-50%) scale(0);}
}
@keyframes fcscale {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(-360deg);}
	50% {transform: rotateY(180deg);}
	75% {transform: rotateY(180deg) rotate(-360deg);}
	100% {transform:  rotate(0deg) rotateY(360deg)}
}

@keyframes dragon {
	form {top:0px; right:0px;}
	to {top:-50%;right:-50%;}
}
@keyframes tiger {
	form {bottom:0px; left:0px;}
	to {bottom:-50%;left:-50%;}
}
@keyframes turtle {
	form {top:0px; left:0px;}
	to {top:-50%;left:-50%;}
}
@keyframes phoenix {
	form {bottom:0px; right:0px;}
	to {bottom:-50%;right:-50%;}
}
/*@keyframes leftdoor {
	from {left:0%);}
	to {left:-100%;}
}
@keyframes rightdoor {
	from {right:0%);}
	to {right:-100%;}
}*/

