* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.zero {
	position: relative;
	height: 100vh;
	
	overflow: hidden;


}
.the-first_wrap {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	overflow: hidden;
}
.the-first {
	display: flex;
	width: 100%;
	height:100%;
	position: relative;
	/*transform: rotate(201deg);
	transition: transform 5s linear;
	transition-delay: 2s;*/
	/*animation: rotate 0.001s infinite linear;*/	
}

.the-second {
	width: 75%;
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
	background-image: url(images/Am.png);
	background-size: 100% 100%;
}
.the-thirst {
	width: 75%;
	height:100%;
	position: absolute;
	top:0px;
	right:0px;
	background-image: url(images/Duong.png);
	background-size: 100% 100%;
}

@keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

